

body{
    margin-top:80px;
    margin-bottom:30px;
    /* background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,9,121,1) 7%, rgba(0,212,255,1) 100%); */
   background-image:url(https://img.freepik.com/free-vector/hand-drawn-shopping-pattern-design_23-2149633578.jpg);
   
   
    }
    #container{
        padding:7px;
        margin-left: 42%;
        display:grid;
        gap: 50px;
    }